In [365]:
import pandas as pd
import numpy as np

In [397]:
df = pd.read_csv('Top Indian Places to Visit.csv')

In [398]:
df.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [399]:
df[df['Entrance Fee in INR'] > 100].head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
18,18,Western,Maharastra,Mumbai,Chhatrapati Shivaji Maharaj Vastu Sangrahalaya,Museum,1922,1.0,4.6,500,Yes,NaN,Historical,Yes,0.34,All
24,24,Western,Maharastra,Mumbai,Essel World,Amusement Park,1986,5.0,4.3,1149,Yes,NaN,Recreational,Yes,0.27,All
25,25,Western,Maharastra,Mumbai,Elephanta Caves,Monument,1987,4.0,4.3,550,Yes,NaN,Historical,Yes,0.35,All
26,26,Western,Maharastra,Lonavala,Imagicaa,Amusement Park,2013,5.0,1.4,1149,No,Monday,Recreational,Yes,0.95,All
27,27,Southern,Karnataka,Bangalore,Bangalore Palace,Palace,1878,2.0,4.2,500,Yes,Monday,Historical,Yes,0.90,Morning

In [400]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        32 non-null     object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [401]:
df.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [405]:
# df["Type"] = df['Type'].apply(lambda x : str(x).split())
# df['Type']
# df["Type"] = df["Type"].apply(lambda x : x.split())
df["Type"]
df["Type"].apply(lambda x : ["".join(i) for i in x])

0      [War, Memorial]
1               [Tomb]
2             [Temple]
3        [Theme, Park]
4        [Observatory]
            ...
320           [Temple]
321             [Fort]
322           [Museum]
323           [Palace]
324           [Museum]
Name: Type, Length: 325, dtype: object

In [254]:
df['Type'] = df['Type'].apply(lambda x : str(x).split())
df['Best Time to visit'] = df['Best Time to visit'].apply(lambda x : str(x).split())

df['fee_category'] = df['fee_category'].apply(lambda x : str(x).split())
df['establishment_category'] = df['establishment_category'].apply(lambda x : str(x).split())
df['Type'] = df['Type'].apply(lambda x : str(x).split())

df['Type']

0      [War, Memorial]
1               [Tomb]
2             [Temple]
3        [Theme, Park]
4        [Observatory]
            ...
320           [Temple]
321             [Fort]
322           [Museum]
323           [Palace]
324           [Museum]
Name: Type, Length: 325, dtype: object

In [255]:
 df["Type"] = df['Type'].apply(lambda x: [i.replace(" ", "") for i in x])
df["Type"][3]

['Theme', 'Park']

In [256]:
# df['tags'] = df["Zone"] + df['City'] + df['Type'] 
df['City'] = df['City'].apply(lambda x : str(x).split())
df['State'] = df['State'].apply(lambda x : str(x).split())
df['Zone'] = df['Zone'].apply(lambda x : str(x).split())
df['DSLR Allowed'] = df['DSLR Allowed'].apply(lambda x : str(x).split())

In [257]:
df['Significance'] =  df['Significance'].apply(lambda x : str(x).split())

In [332]:
df['Tags'] = df['Zone'] + df['Type'] + df['Significance'] + df['State']

In [333]:
new_df = df[['Unnamed: 0', 'Name', 'Tags']]

In [334]:
new_df

,Unnamed: 0,Name,Tags
0,0,India Gate,"[Northern, War, Memorial, Historical, Delhi]"
1,1,Humayun's Tomb,"[Northern, Tomb, Historical, Delhi]"
2,2,Akshardham Temple,"[Northern, Temple, Religious, Delhi]"
3,3,Waste to Wonder Park,"[Northern, Theme, Park, Environmental, Delhi]"
4,4,Jantar Mantar,"[Northern, Observatory, Scientific, Delhi]"
...,...,...,...
320,320,Akshardham,"[Western, Temple, Religious, Gujarat]"
321,321,Agra Fort,"[Central, Fort, Historical, Uttar, Pradesh]"
322,322,Madhya Pradesh Tribal Museum,"[Central, Museum, Cultural, Madhya, Pradesh]"
323,323,City Palace,"[Northern, Palace, Historical, Rajasthan]"
324,324,Albert Hall Museum,"[Northern, Museum, Historical, Rajasthan]"

In [335]:
new_df['Tags'] = new_df['Tags'].apply(lambda x : " ".join(x))

/tmp/ipykernel_59962/87322473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Tags'] = new_df['Tags'].apply(lambda x : " ".join(x))

In [336]:
new_df

,Unnamed: 0,Name,Tags
0,0,India Gate,Northern War Memorial Historical Delhi
1,1,Humayun's Tomb,Northern Tomb Historical Delhi
2,2,Akshardham Temple,Northern Temple Religious Delhi
3,3,Waste to Wonder Park,Northern Theme Park Environmental Delhi
4,4,Jantar Mantar,Northern Observatory Scientific Delhi
...,...,...,...
320,320,Akshardham,Western Temple Religious Gujarat
321,321,Agra Fort,Central Fort Historical Uttar Pradesh
322,322,Madhya Pradesh Tribal Museum,Central Museum Cultural Madhya Pradesh
323,323,City Palace,Northern Palace Historical Rajasthan
324,324,Albert Hall Museum,Northern Museum Historical Rajasthan

In [337]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [338]:
vectors = cv.fit_transform(new_df['Tags']).toarray()

In [339]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [340]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [341]:
new_df['Tags'].apply(stem)

0           northern war memori histor delhi
1                 northern tomb histor delhi
2                northern templ religi delhi
3      northern theme park environment delhi
4        northern observatori scientif delhi
                       ...
320             western templ religi gujarat
321        central fort histor uttar pradesh
322     central museum cultur madhya pradesh
323          northern palac histor rajasthan
324         northern museum histor rajasthan
Name: Tags, Length: 325, dtype: object

In [342]:
from sklearn.metrics.pairwise import cosine_similarity

In [343]:
similarity = cosine_similarity(vectors)

In [344]:
cv.get_feature_names_out()

array(['adventure', 'agricultural', 'amusement', 'andaman', 'andhra',
       'aquarium', 'archaeological', 'architectural', 'area', 'artistic',
       'arunachal', 'assam', 'beach', 'bengal', 'bihar', 'bird', 'border',
       'botanical', 'bridge', 'building', 'carvings', 'cave', 'center',
       'central', 'chhattisgarh', 'church', 'commercial', 'complex',
       'confluence', 'cricket', 'crossing', 'cultural', 'dam', 'daman',
       'delhi', 'development', 'diu', 'eastern', 'educational',
       'engineering', 'entertainment', 'environmental', 'feature', 'film',
       'food', 'fort', 'garden', 'ghat', 'goa', 'government', 'gravity',
       'ground', 'gujarat', 'gurudwara', 'haryana', 'hill', 'himachal',
       'historical', 'island', 'islands', 'jammu', 'jharkhand',
       'karnataka', 'kashmir', 'kerala', 'ladakh', 'lake', 'landmark',
       'madhya', 'maharashtra', 'maharastra', 'mall', 'market', 'marvel',
       'mausoleum', 'meghalaya', 'memorial', 'monastery', 'monument',
       'mosque', 'mountain', 'museum', 'nadu', 'nagaland', 'national',
       'natural', 'nature', 'nicobar', 'north', 'northern', 'observatory',
       'odisha', 'orchard', 'palace', 'park', 'peak', 'plantation',
       'point', 'pradesh', 'prehistoric', 'project', 'promenade',
       'puducherry', 'punjab', 'race', 'rajasthan', 'recreational',
       'religious', 'resort', 'river', 'rock', 'sanctuary', 'scenic',
       'science', 'scientific', 'sculpture', 'shopping', 'shrine',
       'sikkim', 'site', 'ski', 'southern', 'spiritual', 'sport',
       'sports', 'stepwell', 'studio', 'sunrise', 'suspension', 'tamil',
       'tea', 'telangana', 'temple', 'temples', 'theme', 'tomb', 'tombs',
       'township', 'track', 'trekking', 'tripura', 'urban', 'uttar',
       'uttarakhand', 'valley', 'viewpoint', 'village', 'vineyard', 'war',
       'waterfall', 'west', 'western', 'wildlife', 'wonder', 'zoo'],
      dtype=object)

In [345]:
def recommend(place):
    place_index = new_df[new_df['Name'] == place].index[0]
    distances = similarity[place_index]
    place_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:16]
    for i in place_list:
        print(new_df.iloc[i[0]].Name)

In [346]:
recommend("Jagannath Temple")

Lingaraj Temple
Tara Tarini Temple
Sun Temple
Baba Harbhajan Singh Temple
Baba Baidyanath Temple
Pahari Mandir
Mahabodhi Temple
Dakshineswar Kali Temple
Kalighat Kali Temple
Kankalitala Temple
Kamakhya Temple
Hayagriva Madhava Temple
Char Dham
Akshardham Temple
Lotus Temple

In [348]:
df[df['Name'] == 'Baba Baidyanath Temple']

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit,fee_category,establishment_category,Tags
296,296,[Eastern],[Jharkhand],[Deoghar],Baba Baidyanath Temple,[Temple],-1,1.0,4.7,0,Yes,NaN,[Religious],[Yes],1.8,[All],[LessTime],[VeryOld],"[Eastern, Temple, Religious, Jharkhand]"

In [331]:
df[df['Name'] == 'Tara Tarini Temple']

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit,fee_category,establishment_category,Tags
232,232,[Eastern],[Odisha],[Berhampur],Tara Tarini Temple,[Temple],-1,1.0,4.6,0,Yes,NaN,[Religious],[No],0.01,[All],[LessTime],[VeryOld],"[Eastern, Temple, Religious]"

In [406]:
import pickle

In [407]:
pickle.dump(new_df, open('movies.pkl', 'wb'))

In [408]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))